{deps, [
  {eunit_formatters, ".*", 
    {git,
      "git://github.com/seancribbs/eunit_formatters", {branch, "master"}}}
]}.
{eunit_opts, [
  no_tty,  %% This turns off the default output, MUST HAVE
  {report, {eunit_progress, [colored]}} 
  %% Uses the progress formatter with ANSI-colored output
]}.
{port_specs, [
  {"priv/edate.so", ["c_src/edate.c"]}]}.
